@{
    ViewBag.Title = "Pagina de Inicio";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <img alt="image" class="img-rounded" src="~/Images/logo.png" style=" height: 250px; width: 300px; " />
            </div>
            <div class="text-center m-t-lg">
                <h1>
                    @ViewData["SubTitle"]
                </h1>
                <small>@ViewData["Message"]</small>
                <br />
                <small>@ViewData["Fecha"]</small>
                <br>
                <small>Version  : @ViewData["Version"]</small>
                <br>
            </div>
        </div>
        <div class="col-lg-12" style=" margin-top: 20px; margin-bottom: 10px;">
            <div class="card">
                <div class="card-header">
                    <h5>Acciones</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6  col-md-6  col-sm-12" style="margin-bottom: 15px;">
                            <a href="@Url.Action("Index", "Production")" class="btn btn-success btn-lg btn-block" role="button" aria-pressed="true">
                                <div class="row">

                                    <div class="col-lg-12 text-right">
                                        <span style=" font-size: 12px;"> Acceso Directo </span>
                                        <h4 class="font-bold  text-center" style=" font-size: 19px !important; margin-bottom: 20px;">GENERAR PRODUCCION</h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-6  col-md-6  col-sm-12" style="margin-bottom: 15px;">
                            <a href="@Url.Action("Index", "Informe")" class="btn btn-success btn-lg btn-block" role="button" aria-pressed="true">

                                <div class="row">

                                    <div class="col-lg-12 text-right">
                                        <span style=" font-size: 12px;"> Acceso Directo </span>
                                        <h4 class="font-bold  text-center" style=" font-size: 19px !important; margin-bottom: 20px;">PRODUCCION DIARIA</h4>
                                    </div>
                                </div>

                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>